<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.eugene.spacecenter">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewPagerActivity"
            android:label="@string/twitter_news_title"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eugene.spacecenter.MainActivity"/>
        </activity>
        <activity
            android:name=".SolarSystemActivity"
            android:label="@string/solar_system_page_title"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eugene.spacecenter.MainActivity"/>
        </activity>
        <activity
            android:name=".APODtodayActivity"
            android:label="@string/apod_page_title"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eugene.spacecenter.MainActivity"/>
        </activity>
        <activity
            android:name=".SoundsActivity"
            android:label="@string/sounds_page_title"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eugene.spacecenter.MainActivity"/>
        </activity>
        <activity
            android:name=".APODRecyclerViewActivity"
            android:label="@string/apod_list_page_title"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eugene.spacecenter.MainActivity"/>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5ee99fa70eb7558fefc97d8990c47e5bf972d134"/>

        <activity
            android:name=".APODImageActivity"
            android:label="@string/apod_hd_image_title"
            android:parentActivityName=".APODtodayActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eugene.spacecenter.APODtodayActivity"/>
        </activity>
        <activity
            android:name=".WikiSolarSystemActivity"
            android:label="@string/wiki_page_title"
            android:parentActivityName=".SolarSystemActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eugene.spacecenter.SolarSystemActivity"/>
        </activity>
        <activity android:name=".AsteroidsActivity"
            android:label="@string/asteroids_threat"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
    </application>

</manifest>